<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Seating</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Seating</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding"> 
      <div id="container">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
            <div class="card">
              <div class="card-header">
              </div>
              <table style="display: table;">
                <img src="../../assets/icon/seating.png" style="max-width: 330px;"/>

              <tbody>
              <tr>
                <td>
                  <ion-list>
                    <ion-item>
                      <ion-select justify="space-between" label="Select Seat" placeholder="Seat" 
                        aria-label="Seating"
                        placeholder="Select Seat"
                        (ionChange)="handleChange($event)"
                        (ionCancel)="handleCancel()"
                        (ionDismiss)="handleDismiss()"
                      >
                        <ion-select-option value="seat1">A7</ion-select-option>
                        <ion-select-option value="seat2">A8</ion-select-option>
                        <ion-select-option value="seat3">A9</ion-select-option>
                        <ion-select-option value="seat1">A10</ion-select-option>
                        <ion-select-option value="seat2">A11</ion-select-option>
                        <ion-select-option value="seat3">A12</ion-select-option>
                        <ion-select-option value="seat1">A13</ion-select-option>
                        <ion-select-option value="seat2">A14</ion-select-option>
                        <ion-select-option value="seat3">A15</ion-select-option>
                        <ion-select-option value="seat1">A16</ion-select-option>
                        <ion-select-option value="seat2">A17</ion-select-option>
                        <ion-select-option value="seat3">B1</ion-select-option>
                        <ion-select-option value="seat1">B2</ion-select-option>
                        <ion-select-option value="seat2">B3</ion-select-option>
                        <ion-select-option value="seat3">B4</ion-select-option>
                        <ion-select-option value="seat3">B5</ion-select-option>
                        <ion-select-option value="seat1">B6</ion-select-option>
                        <ion-select-option value="seat2">B7</ion-select-option>
                        <ion-select-option value="seat3">B8</ion-select-option>
                        <ion-select-option value="seat3">B9</ion-select-option>
                        <ion-select-option value="seat1">B10</ion-select-option>
                        <ion-select-option value="seat2">B11</ion-select-option>
                        <ion-select-option value="seat3">B12</ion-select-option>
                        <ion-select-option value="seat3">B13</ion-select-option>
                        <ion-select-option value="seat1">B14</ion-select-option>
                        <ion-select-option value="seat2">B15</ion-select-option>
                        <ion-select-option value="seat3">B16</ion-select-option>
                        <ion-select-option value="seat3">B17</ion-select-option>
                        <ion-select-option value="seat3">c1</ion-select-option>
                        <ion-select-option value="seat1">c2</ion-select-option>
                        <ion-select-option value="seat2">c3</ion-select-option>
                        <ion-select-option value="seat3">c4</ion-select-option>
                        <ion-select-option value="seat3">C5</ion-select-option>
                        <ion-select-option value="seat1">C6</ion-select-option>
                        <ion-select-option value="seat2">C7</ion-select-option>
                        <ion-select-option value="seat3">C8</ion-select-option>
                        <ion-select-option value="seat3">C9</ion-select-option>
                        <ion-select-option value="seat1">C10</ion-select-option>
                        <ion-select-option value="seat2">C11</ion-select-option>
                        <ion-select-option value="seat3">C12</ion-select-option>
                        <ion-select-option value="seat3">C13</ion-select-option>
                        <ion-select-option value="seat1">C14</ion-select-option>
                        <ion-select-option value="seat2">C15</ion-select-option>
                        <ion-select-option value="seat3">c16</ion-select-option>
                        <ion-select-option value="seat3">C17</ion-select-option>
                        <ion-select-option value="seat3">D1</ion-select-option>
                        <ion-select-option value="seat1">D2</ion-select-option>
                        <ion-select-option value="seat2">D3</ion-select-option>
                        <ion-select-option value="seat3">D4</ion-select-option>
                        <ion-select-option value="seat3">D5</ion-select-option>
                        <ion-select-option value="seat1">D6</ion-select-option>
                        <ion-select-option value="seat2">D7</ion-select-option>
                        <ion-select-option value="seat3">D8</ion-select-option>
                        <ion-select-option value="seat3">D9</ion-select-option>
                        <ion-select-option value="seat1">D10</ion-select-option>
                        <ion-select-option value="seat2">D11</ion-select-option>
                        <ion-select-option value="seat3">D12</ion-select-option>
                        <ion-select-option value="seat3">D13</ion-select-option>
                        <ion-select-option value="seat1">D14</ion-select-option>
                        <ion-select-option value="seat2">D15</ion-select-option>
                        <ion-select-option value="seat3">D16</ion-select-option>
                        <ion-select-option value="seat3">D17</ion-select-option>
                        <ion-select-option value="seat3">E1</ion-select-option>
                        <ion-select-option value="seat1">E2</ion-select-option>
                        <ion-select-option value="seat2">E3</ion-select-option>
                        <ion-select-option value="seat3">E4</ion-select-option>
                        <ion-select-option value="seat3">E5</ion-select-option>
                        <ion-select-option value="seat1">E6</ion-select-option>
                        <ion-select-option value="seat2">E7</ion-select-option>
                        <ion-select-option value="seat3">E8</ion-select-option>
                        <ion-select-option value="seat3">E9</ion-select-option>
                        <ion-select-option value="seat1">E10</ion-select-option>
                        <ion-select-option value="seat2">E11</ion-select-option>
                        <ion-select-option value="seat3">E12</ion-select-option>
                        <ion-select-option value="seat3">E13</ion-select-option>
                        <ion-select-option value="seat1">E14</ion-select-option>
                        <ion-select-option value="seat2">E15</ion-select-option>
                        <ion-select-option value="seat3">E16</ion-select-option>
                        <ion-select-option value="seat3">E17</ion-select-option>
                        <ion-select-option value="seat3">F1</ion-select-option>
                        <ion-select-option value="seat1">F2</ion-select-option>
                        <ion-select-option value="seat2">F3</ion-select-option>
                        <ion-select-option value="seat3">F4</ion-select-option>
                        <ion-select-option value="seat3">F5</ion-select-option>
                        <ion-select-option value="seat1">F6</ion-select-option>
                        <ion-select-option value="seat2">F7</ion-select-option>
                        <ion-select-option value="seat3">F8</ion-select-option>
                        <ion-select-option value="seat3">F9</ion-select-option>
                        <ion-select-option value="seat1">F10</ion-select-option>
                        <ion-select-option value="seat2">F11</ion-select-option>
                        <ion-select-option value="seat3">F12</ion-select-option>
                        <ion-select-option value="seat3">F13</ion-select-option>
                        <ion-select-option value="seat1">F14</ion-select-option>
                        <ion-select-option value="seat2">F15</ion-select-option>
                        <ion-select-option value="seat3">F16</ion-select-option>
                        <ion-select-option value="seat3">F17</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-list>              
                </td>
              </tr>
             </tbody>
            </table>
           </div>
          </ion-col>
         </ion-row>
       </ion-grid>
     </div>
   </ion-content>
  </div>
 </ion-app>
              
              