<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<ion-header>
	<ion-toolbar class="new-background-color">
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="/home"></ion-back-button>
	  </ion-buttons>
	  <ion-title>Login</ion-title>
	</ion-toolbar>
  </ion-header>

<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<!--Div for signing up save values and then proceed with button-->
			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.username">
					<input type="email" name="email" placeholder="Email" [(ngModel)]="signupObj.email">
					<input type="password" name="password1" placeholder="Password" [(ngModel)]="signupObj.password">
					<button (click)="onSignUp()">Sign up</button>
				</form>
			</div>

			<!--Div for logging in using saved values and then proceed with button-->
			<div class="login">
				<form>
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="txt" placeholder="User name" [(ngModel)]="signupObj.username">
					<input type="password" name="password2" placeholder="Password" [(ngModel)]="signupObj.password">
					<button (click)="onLogin()">Login</button>
				</form>
			</div>
	</div>
</body>
</html>