<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Information</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Information</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> <div id="container">
    </div> 
  </ion-content>
  </div>
</ion-app>