<ion-app>
  <ion-menu contentId="main-content" isActive="true">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-button fill="clear" size="auto" [routerLink]="['/home']">Listings</ion-button>
      <br>
      <ion-button fill="clear" size="auto" [routerLink]="['/book']">Book</ion-button>
      <br>
      <ion-button fill="clear" size="auto" [routerLink]="['/login']">Login</ion-button>
      <br>
      <ion-button fill="clear" size="auto" [routerLink]="['/seating']">Seating</ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar class="new-background-color">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Movie Listings</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> <div id="container">

      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="auto">
          <ion-card *ngFor="let movie of movies">
          <img src="{{movie.Poster}}" height="350" width ="250">
          <ion-card-header>
            <ion-card-title>{{movie.Title}}</ion-card-title>
            <ion-card-subtitle>{{movie.Year}}</ion-card-subtitle>
            <ion-button fill = "clear" [routerLink]="['/login']">Book</ion-button>
          </ion-card-header>
        </ion-card>
       </ion-col>
      </ion-row>
     </ion-grid>
    </div> 
    </ion-content>
  </div>
</ion-app>